
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

.header {
  height: 60px;
  line-height: 60px;
}
.header-inner {
  max-width: 810px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-inner-logo {
  margin: auto 0;
}
.header-inner-logo img {
  display: block;
}
.header-inner-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-inner-nav-item {
  margin-left: 20px;
}

.main-visual {
  background-image: url(https://user-images.githubusercontent.com/72715705/115321742-6cbbbb00-a1bf-11eb-936d-d7197564b7e4.jpg);
  height: 500px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.news {
  padding: 100px 0;
}
.news-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 50px;
}
.news-inner {
  width: 900px;
  margin: 0 auto;
}
@media (max-width: 1190px) {
  .news-inner {
    max-width: 100%;
    width: 500px;
  }
}
.news-inner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.news-inner-content-item {
  border: 1px solid #000;
  display: block;
  width: calc(33.33% - 10px * 2 / 3);
  height: 330px;
  margin-left: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1190px) {
  .news-inner-content-item {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
.news-inner-content-item-img {
  width: 100%;
  height: 180px;
}
.news-inner-content-item-img img {
  width: 100%;
  height: 100%;
}
.news-inner-content-item-text {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
}
.news-inner-content-item-text-title {
  font-weight: bold;
}
.news-inner-content-item:nth-child(3n+1) {
  margin-left: 0;
}
@media (max-width: 1190px) {
  .news-inner-content-item:nth-child(3n+1) {
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

.contact {
  padding: 100px 0;
  background-image: url(https://user-images.githubusercontent.com/72715705/115321732-67f70700-a1bf-11eb-8247-90700cb1b66c.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  text-align: center;
  color: #fff;
}
.contact-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 150px;
}
.contact-text {
  color: #fff;
  margin-bottom: 70px;
}
.contact a {
  color: #000;
  padding: 15px 30px;
  background-color: beige;
}

.footer {
  background-color: #000;
  text-align: center;
  padding: 20px 0;
}
.footer-text {
  color: #fff;
  font-size: 12px;
}
